/* responsive for mobile device */
@media screen and (max-width: 575px) {
    .manu-bar {
        flex-direction: column;
    }

    nav>ul {
        gap: 5px;
        flex-direction: column;
        text-align: center;
    }

    .banner {
        width: 335px;
        height: 483px;
        /* background-size: cover; */
        background-position: center;
    }

    .banner-title h1 {
        padding-top: 20px;
        font-size: 22px;

    }

    .banner-description p {
        font-size: 14px;
        width: 304px;
        margin-bottom: 10px;
    }

    .banner-input {
        width: 250px;
        height: 251px;
        margin: auto;
        flex-direction: column;
        /* gap: 16px; */
        padding: 6px 16px;
    }

    .banner-input input,
    select,
    .banner-button {
        width: 255px;
        border: 0px;
        margin-top: 10px;
        margin-left: 0px;
        padding: 0;
    }

    .banner-input input {
        padding-left: 5px;
        width: 250px;
    }

    .popular-tour {
        flex-direction: column;
    }

    .tour-content {
        width: 100%;
    }

    .tour-content h1 {
        font-size: 20px;
    }

    .tour-content p {
        width: 300px;
        font-size: 14px;

    }

    .tour-list {
        max-width: 320px;
        font-size: 14px;

    }

    .tour-list li {
        width: 300px;
    }

    .tour-img img {
        width: 300px;
        height: 342px;
        margin-top: 10px;
    }

    .destination {
        width: 100%;
        justify-content: center;
    }

    .common-title {
        font-size: 20px;
        margin: auto;
    }

    .common-para {
        width: 285px;
        font-size: 14px;

    }

    .dest-img-c1,
    .dest-img-c2,
    .dest-img-c3 {
        flex-direction: column;
    }

    .d-img {
        width: 300px;
        height: 176px;
        flex-shrink: 0;
    }

    .img-tit1 {
        margin-left: 90px;
        margin-top: -100px;

    }

    .img-tit2-1 {
        margin-left: 90px;
        margin-top: -100px;

    }

    .img-tit2-2 {
        margin-left: 50px;
        margin-top: -105px;
    }

    .img-tit2-3 {
        margin-left: 95px;
        margin-top: -105px;
    }

    .img-tit3-1 {
        margin-left: 70px;
        margin-top: -110px;
    }

    .img-tit3-2 {
        margin-left: 70px;
        margin-top: -110px;
    }

    .choose-content {
        flex-direction: column;
    }

    .choose-content2 {
        flex-direction: column;
    }

    #choose-inner {
        width: 335px;
        height: 289px;
    }

    #choose-inner img {
        width: 48px;
        height: 48px;
    }

    #choose-inner h2 {
        font-size: 20px;
    }

    #choose-inner p {
        width: 271px;
        font-size: 14px;

    }

    .newsletter {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .newsletter-input {
        margin-top: 30px;
        width: 335px;
        height: 400px;
    }

    .newsletter-input h3 {
        font-size: 20px;
        margin-left: 25px;

    }

    .newsletter-input p {
        width: 270px;
        font-size: 14px;
        margin-left: 25px;

        /* 162.5% */
    }

    .newsletter-input hr {
        width: 288px;
        margin-left: 25px;
    }

    .newsletter-input input {
        width: 278px;
        height: 52px;
        margin-left: 25px;
    }

    .newsletter-input button {
        width: 288px;
        height: 52px;
        font-size: 20px;
        margin-left: 25px;

    }

    .newletter-img img {
        width: 335px;
        height: 300px;
        flex-shrink: 0;
    }

    .newletter-img-content {
        width: 214.023px;
        height: 79.268px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        margin-left: 118px;
        margin-top: -115px;
    }

    .newletter-img-content p {
        padding-top: 15px;
        font-size: 15.854px;

    }

    .newletter-img-content h4 {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-size: 21.138px;
    }

    .footer {
        width: 375px;
        height: 309px;
    }

    .footer-heading {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        gap: 15px;
        margin: auto;
    }

    .footer-heading img {
        width: 28.724px;
        height: 33.516px;
    }

    .footer-heading h2 {
        font-size: 21.543px;

    }
  
    .footer-content p {
        width: 287px;
        font-size: 14px;

    }
    .fa-brands{
        margin-top: 10px;
    }
    .footer-content hr {
        width: 335px;
        margin-top: 10px;
    }

    .copyright {
        font-size: 14px;
        padding-top: 15px;
    }
}