@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

header {
    max-width: 85%;
    margin: auto;
}

/* manu bar */
.manu-bar {
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;
}

.nav-title {
    display: flex;
    gap: 17px;
}

.nav-title img {
    width: 57px;
    height: 48px;
}

.nav-title h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-title span {
    color: #FF5400;
}

nav>ul {
    display: flex;
    gap: 44px;
    margin-top: 15px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.nav-home {
    color: #FF5400;
}

/* banner section */

.banner {
    margin: auto;
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
}

.banner-title h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 110px;
}

.banner-description p {
    margin: auto;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 676px;
    margin-top: 24px;
}

.banner-input {
    margin: auto;
    margin-top: 45px;
    width: 800px;
    height: 84px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    align-items: flex-start;
    align-items: center;

}

.banner-input input,
select,
.banner-button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 14px;
    padding-left: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border: 0px;
}

.banner-button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.fa-solid {
    margin-right: 8px;
}

/* Our Popular Tour */
.popular-tour {
    max-width: 77%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.tour-content {
    width: 50%;
}

.tour-content h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin: 24px 0px;
}

.tour-list {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.tour-list li {
    padding-bottom: 16px;
    margin: auto;
    margin-left: 20px;
    width: 500px;
}

.tour-content button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border: 0;
}

/* destination section */
.destination {
    max-width: 85%;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 25px;

}

.dest-img-c1,
.dest-img-c2,
.dest-img-c3 {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 20px;
}

.common-title {
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    /* 162.5% */
}

.common-para {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: auto;
    margin-top: 25px;
    /* 162.5% */
}

.img-tit1 {
    position: absolute;
    margin-left: 250px;
    margin-top: -165px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.img-tit2-1 {
    position: absolute;
    margin-left: 130px;
    margin-top: -165px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.img-tit2-2 {
    position: absolute;
    margin-left: 140px;
    margin-top: -165px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.img-tit2-3 {
    position: absolute;
    margin-left: 80px;
    margin-top: -165px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.img-tit3-1 {
    position: absolute;
    margin-left: 165px;
    margin-top: -165px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.img-tit3-2 {
    position: absolute;
    margin-left: 250px;
    margin-top: -165px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* Choose Section */
.choose {
    max-width: 85%;
    margin: auto;
    margin-top: 100px;
}

.choose-content {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 20px;
    /* justify-content: center; */
}

#choose-inner {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    width: 573px;
    height: 284px;
}

#choose-inner img {
    margin-left: 32px;
    margin-top: 32px;
}

#choose-inner h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-left: 32px;
    margin-top: 32px;
}

#choose-inner p {
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 32px;
    /* 162.5% */
}

.choose-content2 {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 20px;
    /* justify-content: center; */
}

.choose-content-price {
    justify-content: center;
    background: rgba(233, 68, 68, 0.05);
}

.choose-content-hotel {
    background: rgba(251, 181, 99, 0.05);
}

.choose-content-map {
    background: rgba(41, 206, 246, 0.05);
}

/* newsletter section */
.newsletter {
    max-width: 85%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 474px 672px;
    justify-content: center;
    gap: 25px;
}

.newsletter-input {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;

}

.newsletter-input h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
    margin-left: 40px;
}

.newsletter-input p {
    width: 350px;
    margin-top: 16px;
    margin-left: 40px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.newsletter-input hr {
    width: 393px;
    height: 1px;
    margin-left: 40px;
    margin-top: 16px;
}

.newsletter-input input {
    width: 393px;
    height: 52px;
    margin-left: 40px;
    margin-top: 16px;
}

.newsletter-input button {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 40px;
    margin-top: 16px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

.newletter-img-content {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    margin-left: 340px;
    margin-top: -170px;
}

.newletter-img-content p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-top: 25px;
}

.newletter-img-content h4 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}